<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        姓:<input type="text" v-model="fname">
        名：<input type="text" v-model="lname">
        <span>{{fullname}} </span>
        <script>
            const vm = new Vue({
                el: '#app',
                data() {
                    return {
                        fname: "张",
                        lname: "三",
                    }
                },
                computed: {
                    //完整写法
                    // fullname:{
                    //     get(){
                    //         return this.fname+'-'+this.lname;
                    //     },
                    // 简写
                    fullname(){
                        return this.fname+'-'+this.lname;
                    },
                }
            })
        </script>
    </div>
</body>

</html>